.ART {
    border-color: rgb(231, 129,0);
    --bs-btn-hover-bg: rgb(231, 129,0);
    --bs-btn-color: rgb(231, 129,0);
    --bs-btn-active-bg: white;
    --bs-btn-active-color: rgb(231, 129,0);
    --bs-btn-hover-color: White;
    --bs-btn-hover-border-color: rgb(231, 129,0);
    --bs-btn-active-border-color: rgb(231, 129,0);
}

.ART::placeholder{
  font-size: 25px;
  color: rgb(231, 129,0);
  font-family: 'Anderson Grotesk';
}
  
.ENG{
  border-color: rgb(87,5,139);
  --bs-btn-hover-bg: rgb(87,5,139);
  --bs-btn-color: rgb(87,5,139);
  --bs-btn-active-bg: white;
  --bs-btn-active-color: rgb(87,5,139);
  --bs-btn-hover-color: white;
  --bs-btn-hover-border-color: rgb(87,5,139);
  --bs-btn-active-border-color: rgb(87,5,139);
}

.ENG::placeholder{
  font-size: 25px;
  color: rgb(87,5,139);
  font-family: 'Anderson Grotesk';
}

.ENV{
  border-color: rgb(180, 190, 0);
  --bs-btn-hover-bg: rgb(180, 190, 0);
  --bs-btn-color: rgb(180, 190, 0);
  --bs-btn-active-bg: white;
  --bs-btn-active-color: rgb(180, 190, 0);
  --bs-btn-hover-color: white;
  --bs-btn-hover-border-color: rgb(180, 190, 0);
  --bs-btn-active-border-color: rgb(180, 190, 0);
}

.ENV::placeholder{
  font-size: 25px;
  color: rgb(180, 190, 0);
  font-family: 'Anderson Grotesk';
}

.HEA{
  border-color: rgb(0, 152, 165);
  --bs-btn-hover-bg: rgb(0, 152, 165);
  --bs-btn-color: rgb(0, 152, 165);
  --bs-btn-active-bg: white;
  --bs-btn-active-color: rgb(0, 152, 165);
  --bs-btn-hover-color: white;
  --bs-btn-hover-border-color: rgb(0, 152, 165);
  --bs-btn-active-border-color: rgb(0, 152, 165);
}

.HEA::placeholder{
  font-size: 25px;
  color: rgb(0, 152, 165);
  font-family: 'Anderson Grotesk';
}


.MAT{
  border-color: rgb(198, 0, 120);
  --bs-btn-hover-bg: rgb(198, 0, 120);
  --bs-btn-color: rgb(198, 0, 120);
  --bs-btn-active-bg: white;
  --bs-btn-active-color: rgb(198, 0, 120);
  --bs-btn-hover-color: white;
  --bs-btn-hover-border-color: rgb(198, 0, 120);
  --bs-btn-active-border-color: rgb(198, 0, 120);
}

.MAT::placeholder{
  font-size: 25px;
  color: rgb(198, 0, 120);
  font-family: 'Anderson Grotesk';
}

.REN{
  border-color: rgb(19, 145, 36);
  --bs-btn-hover-bg: rgb(19, 145, 36);
  --bs-btn-color: rgb(19, 145, 36);
  --bs-btn-active-bg: white;
  --bs-btn-active-color: rgb(19, 145, 36);
  --bs-btn-hover-color: white;
  --bs-btn-hover-border-color: rgb(19, 145, 36);
  --bs-btn-active-border-color: rgb(19, 145, 36);
}


.REN::placeholder{
  font-size: 25px;
  color: rgb(19, 145, 36);
  font-family: 'Anderson Grotesk';
}

.SCI{
  border-color: rgb(0,115,206);
  --bs-btn-hover-bg: rgb(0,115,206);
  --bs-btn-color: rgb(0,115,206);
  --bs-btn-active-bg: white;
  --bs-btn-active-color: rgb(0,115,206);
  --bs-btn-hover-color: white;
  --bs-btn-hover-border-color: rgb(0,115,206);
  --bs-btn-active-border-color: rgb(0,115,206);
}

.SCI::placeholder{
  font-size: 25px;
  color: rgb(0,115,206);
  font-family: 'Anderson Grotesk';
}

.VPA{
  border-color: rgb(9, 0, 131);
  --bs-btn-hover-bg: rgb(9, 0, 131);
  --bs-btn-color: rgb(9, 0, 131);
  --bs-btn-active-bg: white;
  --bs-btn-active-color: rgb(9, 0, 131);
  --bs-btn-hover-color: white;
  --bs-btn-hover-border-color: rgb(9, 0, 131);
  --bs-btn-active-border-color: rgb(9, 0, 131);
}

.VPA::placeholder{
  font-size: 25px;
  color: rgb(9, 0, 131);
  font-family: 'Anderson Grotesk';
}

.WLU{
  border-color: rgb(139, 28, 167);
  --bs-btn-hover-bg: rgb(139, 28, 167);
  --bs-btn-color: rgb(139, 28, 167);
  --bs-btn-active-bg: white;
  --bs-btn-active-color: rgb(139, 28, 167);
  --bs-btn-hover-color: white;
  --bs-btn-hover-border-color: rgb(139, 28, 167);
  --bs-btn-active-border-color: rgb(139, 28, 167);
}

.VPA::placeholder{
  font-size: 25px;
  color: rgb(139, 28, 167);
  font-family: 'Anderson Grotesk';
}


.NAFac{
  border-color: black;
  --bs-btn-hover-bg: black;
  --bs-btn-color: black;
  --bs-btn-active-bg: white;
  --bs-btn-active-color: black;
  --bs-btn-hover-color: white;
  --bs-btn-hover-border-color: black;
  --bs-btn-active-border-color: black;
}

.NAFac::placeholder{
  font-size: 25px;
  color: black;
  font-family: 'Anderson Grotesk';
}

