#cardCode{
    font-size: 55px;
    padding-left: 20px;
    padding-top: 10px;
    font-family: "Anderson Grotesk Bold";
}

#cardRatings{
    font-size: 25px;
    padding-left: 15px; 
    font-family: "Anderson Grotesk";
}
#cardName{
    font-size: 20px;
    padding-left: 20px; 
    width: 460px;
    margin-top: -35px;
    font-family: "Anderson Grotesk Bold";
    padding-bottom: 3px;
}

#horizontalLine {
    border-width: 1px;
    transform: translate(18px, -30px); 
    width: 93%;
    box-shadow: 0px 0px 0px 0px black;
    margin: 1em 0;
    padding: 0;
}

.meter { 
    margin-left: 20px;
    height: 20px;
    position: relative;
    overflow: hidden;
    width:450px;
    border-radius: 20px;
    margin-top: -3px;
    margin-bottom: 10px;
}

.meter span {
    display: block;
    height: 100%;
}

.progress {
    border-radius: 20px;
    animation: progressBar 1s ease-in-out;
    animation-fill-mode:both;
}

@keyframes progressBar {
  0% { width: 0; }
  100% { width: 100%; }
}

.cardHeaders {
    font-family: "Anderson Grotesk Bold";
    padding-left: 20px;
    font-size: 25px;
}

.ART{
    border-width: 2px;
    border: solid;
    border-color:rgb(231, 129, 0);
    box-shadow: 0px 0px 1px 1px rgb(255, 213, 165);
}

.ENG{
    border: 2px solid rgb(87,5,139);
    box-shadow: 0px 0px 1px 1px rgb(208, 180, 239);
}

.ENV{
    border: 2px solid rgb(180, 190, 0);
    box-shadow: 0px 0px 1px 1px rgb(208, 234, 120);
}

.HEA{
    border: 2px solid rgb(0, 152, 165);
    box-shadow: 0px 0px 1px 1px rgb(151, 223, 239);
}

.MAT{
    border: 2px solid rgb(198, 0, 120);
    box-shadow: 0px 0px 1px 1px rgb(255, 190, 239);
}
.REN{
    border: 2px solid rgb(19, 145, 36);
    box-shadow: 0px 0px 1px 1px rgb(169, 226, 176);
}

.SCI{
    border: 2px solid rgb(0,115,206);
    box-shadow: 0px 0px 1px 1px rgb(180, 213, 255);
}

.VPA{
    border: 2px solid rgb(9, 0, 131);
    box-shadow: 0px 0px 1px 1px rgb(139, 135, 204);
}

.WLU{
    border: 2px solid rgb(139, 28, 167);
    box-shadow: 0px 0px 1px 1px rgb(201, 120, 221);
}

.NA{
    border: 2px solid rgb(0, 0, 0);
    box-shadow: 0px 0px 1px 1px rgb(107, 107, 107);
}

.NAFac{
    border-color: rgb(0, 0, 0);
    --bs-btn-hover-bg: rgb(0, 0, 0);
    --bs-btn-color: rgb(0, 0, 0);
    --bs-btn-active-bg: white;
    --bs-btn-active-color: rgb(0, 0, 0);
    --bs-btn-hover-color: white;
    --bs-btn-hover-border-color: rgb(0, 0, 0);
    --bs-btn-active-border-color: rgb(0, 0, 0);
}