.ARTtext{
    color: rgb(251 175 0);
}

.ENGtext{
    color: rgb(190 51 218);
}

.ENVtext{
    color: rgb(190 213 0);
}

.HEAtext{
    color: rgb(0 190 208);
}

.MATtext{
    color: rgb(255 99 170);
}

.RENtext{
    color: rgb(60, 171, 75);
}

.SCItext{
    color: rgb(99 160 255);
}

.VPAtext{
    color: rgb(77, 67, 215);
}

.WLUtext{
    color: rgb(178, 91, 199);
}

.NAFactext{
    color: white;
}

.ARTLightText{
    color: rgb(255 213 165);
}

.ENGLightText{
    color: rgb(208, 180, 239);
}

.ENVLightText{
    color: rgb(208, 234, 120);
}

.HEALightText{
    color: rgb(151, 223, 239);
}

.MATLightText{
    color: rgb(255, 190, 239);
}

.RENLightText{
    color: rgb(169, 226, 176);
}

.SCILightText{
    color: rgb(180, 213, 255);
}

.VPALightText{
    color: rgb(139, 135, 204);
}

.WLULightText{
    color: rgb(201, 120, 221);
}

.ARTLightDarkText{
    color: rgb(239, 164, 67);
}

.ENGLightDarkText{
    color: rgb(132, 66, 173);
}

.ENVLightDarkText{
    color: rgb(225, 233, 82);
}

.HEALightDarkText{
    color: rgb(78, 197, 207);
}

.MATLightDarkText{
    color: rgb(222, 72, 162);
}

.RENLightDarkText{
    color: rgb(72, 187, 88);
}

.SCILightDarkText{
    color: rgb(58, 152, 230);
}

.VPALightDarkText{
    color: rgb(119, 112, 221);
}

.WLULightDarkText{
    color: rgb(183, 136, 194);
}

.NAFacLightDarkText{
    color: white;
}

.ARTBackground{
    background-color: rgb(251 175 0);
}

.ENGBackground{
    background-color: rgb(190 51 218);
}

.ENVBackground{
    background-color: rgb(190 213 0);
}

.HEABackground{
    background-color: rgb(0 190 208);
}

.MATBackground{
    background-color: rgb(255 99 170);
}

.RENBackground{
    background-color: rgb(60, 171, 75);
}

.SCIBackground{
    background-color: rgb(99 160 255);
}

.VPABackground{
    background-color: rgb(77, 67, 215);
}

.WLUBackground{
    background-color: rgb(178, 91, 199);
}

.NAFacBackground{
    background-color:white;
}

.ARTButton {
    border: 2px solid white;
    --bs-btn-color: white;
    --bs-btn-hover-color: rgb(251 175 0);
    --bs-btn-hover-border-color: rgb(251 175 0);
    --bs-btn-active-bg: rgb(251 175 0);
    --bs-btn-active-color: rgb(14, 14, 37);
    --bs-btn-active-border-color: rgb(251 175 0);
}

input.ARTButton {
    border: 2px solid rgb(251 175 0);
    --bs-btn-color: rgb(251 175 0);
    --bs-btn-hover-color: rgb(251 175 0);
    --bs-btn-hover-border-color: rgb(251 175 0);
    --bs-btn-active-bg: none;
    --bs-btn-active-color: rgb(251 175 0);
    --bs-btn-active-border-color: rgb(251 175 0);
}

.ARTSideButton{
    border: 2px solid rgb(251 175 0);
    --bs-btn-color: rgb(251 175 0);
    --bs-btn-hover-color: rgb(251 175 0);
    --bs-btn-hover-border-color: rgb(251 175 0);
    --bs-btn-active-bg: rgb(251 175 0);
    --bs-btn-active-color: none;
    --bs-btn-active-border-color: rgb(251 175 0);
}

.ARTButton::placeholder{
    font-size: 25px;
    color: rgb(251 175 0);
    font-family: 'Anderson Grotesk';
}

.ENGButton{
    border: 2px solid white;
    --bs-btn-color: white;
    --bs-btn-active-bg: rgb(190 51 218);
    --bs-btn-active-color: white;
    --bs-btn-hover-color: rgb(190 51 218);
    --bs-btn-hover-border-color: rgb(190 51 218);
    --bs-btn-active-border-color: rgb(190 51 218);
}

input.ENGButton {
    border: 2px solid rgb(190 51 218);
    --bs-btn-color: rgb(190 51 218);
    --bs-btn-hover-color: rgb(190 51 218);
    --bs-btn-hover-border-color: rgb(190 51 218);
    --bs-btn-active-bg: none;
    --bs-btn-active-color: rgb(190 51 218);
    --bs-btn-active-border-color: rgb(190 51 218);
}

.ENGSideButton{
    border: 2px solid rgb(190 51 218);
    --bs-btn-color: rgb(190 51 218);
    --bs-btn-hover-color: rgb(190 51 218);
    --bs-btn-hover-border-color: rgb(190 51 218);
    --bs-btn-active-bg: rgb(190 51 218);
    --bs-btn-active-color: none;
    --bs-btn-active-border-color: rgb(190 51 218);
}

.ENGButton::placeholder{
    font-size: 25px;
    color: rgb(190 51 218);
    font-family: 'Anderson Grotesk';
}

.ENVButton{
    border: 2px solid white;
    --bs-btn-color: white;
    --bs-btn-active-bg: rgb(190 213 0);
    --bs-btn-active-color: white;
    --bs-btn-hover-color: rgb(190 213 0);
    --bs-btn-hover-border-color: rgb(190 213 0);
    --bs-btn-active-border-color: rgb(190 213 0);
}

input.ENVButton {
    border: 2px solid rgb(190 213 0);
    --bs-btn-color: rgb(190 213 0);
    --bs-btn-hover-color: rgb(190 213 0);
    --bs-btn-hover-border-color: rgb(190 213 0);
    --bs-btn-active-bg: none;
    --bs-btn-active-color: rgb(190 213 0);
    --bs-btn-active-border-color: rgb(190 213 0);
}

.ENVSideButton{
    border: 2px solid rgb(190 213 0);
    --bs-btn-color: rgb(190 213 0);
    --bs-btn-hover-color: rgb(190 213 0);
    --bs-btn-hover-border-color: rgb(190 213 0);
    --bs-btn-active-bg: rgb(190 213 0);
    --bs-btn-active-color: none;
    --bs-btn-active-border-color: rgb(190 213 0);
}

.ENVButton::placeholder{
    font-size: 25px;
    color: rgb(190 213 0);
    font-family: 'Anderson Grotesk';
}

.HEAButton{
    border: 2px solid white;
    --bs-btn-color: white;
    --bs-btn-active-bg: rgb(0 190 208);
    --bs-btn-active-color: white;
    --bs-btn-hover-color: rgb(0 190 208);
    --bs-btn-hover-border-color: rgb(0 190 208);
    --bs-btn-active-border-color: rgb(0 190 208);
}

input.HEAButton {
    border: 2px solid rgb(0 190 208);
    --bs-btn-color: rgb(0 190 208);
    --bs-btn-hover-color: rgb(0 190 208);
    --bs-btn-hover-border-color: rgb(0 190 208);
    --bs-btn-active-bg: none;
    --bs-btn-active-color: rgb(0 190 208);
    --bs-btn-active-border-color: rgb(0 190 208);
}

.HEASideButton{
    border: 2px solid rgb(0 190 208);
    --bs-btn-color: rgb(0 190 208);
    --bs-btn-hover-color: rgb(0 190 208);
    --bs-btn-hover-border-color: rgb(0 190 208);
    --bs-btn-active-bg: rgb(0 190 208);
    --bs-btn-active-color: none;
    --bs-btn-active-border-color: rgb(0 190 208);
}

.HEAButton::placeholder{
    font-size: 25px;
    color: rgb(0 190 208);
    font-family: 'Anderson Grotesk';
}

.MATButton{
    border: 2px solid white;
    --bs-btn-color: white;
    --bs-btn-active-bg: rgb(255 99 170);
    --bs-btn-active-color: white;
    --bs-btn-hover-color: rgb(255 99 170);
    --bs-btn-hover-border-color: rgb(255 99 170);
    --bs-btn-active-border-color: rgb(255 99 170);
}

input.MATButton {
    border: 2px solid rgb(255 99 170);
    --bs-btn-color: rgb(255 99 170);
    --bs-btn-hover-color: rgb(255 99 170);
    --bs-btn-hover-border-color: rgb(255 99 170);
    --bs-btn-active-bg: none;
    --bs-btn-active-color: rgb(255 99 170);
    --bs-btn-active-border-color: rgb(255 99 170);
}

.MATSideButton{
    border: 2px solid rgb(255 99 170);
    --bs-btn-color: rgb(255 99 170);
    --bs-btn-hover-color: rgb(255 99 170);
    --bs-btn-hover-border-color: rgb(255 99 170);
    --bs-btn-active-bg: rgb(255 99 170);
    --bs-btn-active-color: none;
    --bs-btn-active-border-color: rgb(255 99 170);
}

.MATButton::placeholder{
    font-size: 25px;
    color: rgb(255 99 170);
    font-family: 'Anderson Grotesk';
}

.RENButton{
    border: 2px solid white;
    --bs-btn-color: white;
    --bs-btn-active-bg: rgb(60, 171, 75);
    --bs-btn-active-color: white;
    --bs-btn-hover-color: rgb(60, 171, 75);
    --bs-btn-hover-border-color: rgb(60, 171, 75);
    --bs-btn-active-border-color: rgb(60, 171, 75);
}

input.RENButton {
    border: 2px solid rgb(60, 171, 75);
    --bs-btn-color: rgb(60, 171, 75);
    --bs-btn-hover-color: rgb(60, 171, 75);
    --bs-btn-hover-border-color: rgb(60, 171, 75);
    --bs-btn-active-bg: none;
    --bs-btn-active-color: rgb(60, 171, 75);
    --bs-btn-active-border-color: rgb(60, 171, 75);
}

.RENSideButton{
    border: 2px solid rgb(60, 171, 75);
    --bs-btn-color: rgb(60, 171, 75);
    --bs-btn-hover-color: rgb(60, 171, 75);
    --bs-btn-hover-border-color: rgb(60, 171, 75);
    --bs-btn-active-bg: rgb(60, 171, 75);
    --bs-btn-active-color: none;
    --bs-btn-active-border-color: rgb(60, 171, 75);
}

.RENButton::placeholder{
    font-size: 25px;
    color: rgb(60, 171, 75);
    font-family: 'Anderson Grotesk';
}

.SCIButton{
    border: 2px solid white;
    --bs-btn-color: white;
    --bs-btn-active-bg: rgb(99 160 255);
    --bs-btn-active-color: white;
    --bs-btn-hover-color: rgb(99 160 255);
    --bs-btn-hover-border-color: rgb(99 160 255);
    --bs-btn-active-border-color: rgb(99 160 255);
}

input.SCIButton {
    border: 2px solid rgb(99 160 255);
    --bs-btn-color: rgb(99 160 255);
    --bs-btn-hover-color: rgb(99 160 255);
    --bs-btn-hover-border-color: rgb(99 160 255);
    --bs-btn-active-bg: none;
    --bs-btn-active-color: rgb(99 160 255);
    --bs-btn-active-border-color: rgb(99 160 255);
}

.SCISideButton{
    border: 2px solid rgb(99 160 255);
    --bs-btn-color: rgb(99 160 255);
    --bs-btn-hover-color: rgb(99 160 255);
    --bs-btn-hover-border-color: rgb(99 160 255);
    --bs-btn-active-bg: rgb(99 160 255);
    --bs-btn-active-color: none;
    --bs-btn-active-border-color: rgb(99 160 255);
}

.SCIButton::placeholder{
    font-size: 25px;
    color: rgb(99 160 255);
    font-family: 'Anderson Grotesk';
}

.VPAButton{
    border: 2px solid white;
    --bs-btn-color: white;
    --bs-btn-active-bg: rgb(77, 67, 215);
    --bs-btn-active-color: white;
    --bs-btn-hover-color: rgb(77, 67, 215);
    --bs-btn-hover-border-color: rgb(77, 67, 215);
    --bs-btn-active-border-color: rgb(77, 67, 215);
}

input.VPAButton {
    border: 2px solid rgb(77, 67, 215);
    --bs-btn-color: rgb(77, 67, 215);
    --bs-btn-hover-color: rgb(77, 67, 215);
    --bs-btn-hover-border-color: rgb(77, 67, 215);
    --bs-btn-active-bg: none;
    --bs-btn-active-color: rgb(77, 67, 215);
    --bs-btn-active-border-color: rgb(77, 67, 215);
}

.VPASideButton{
    border: 2px solid rgb(77, 67, 215);
    --bs-btn-color: rgb(77, 67, 215);
    --bs-btn-hover-color: rgb(77, 67, 215);
    --bs-btn-hover-border-color: rgb(77, 67, 215);
    --bs-btn-active-bg: rgb(77, 67, 215);
    --bs-btn-active-color: none;
    --bs-btn-active-border-color: rgb(77, 67, 215);
}

.VPAButton::placeholder{
    font-size: 25px;
    color: rgb(77, 67, 215);
    font-family: 'Anderson Grotesk';
}

.WLUButton{
    border: 2px solid white;
    --bs-btn-color: white;
    --bs-btn-active-bg: rgb(178, 91, 199);
    --bs-btn-active-color: white;
    --bs-btn-hover-color: rgb(178, 91, 199);
    --bs-btn-hover-border-color: rgb(178, 91, 199);
    --bs-btn-active-border-color: rgb(178, 91, 199);
}

input.WLUButton {
    border: 2px solid rgb(178, 91, 199);
    --bs-btn-color: rgb(178, 91, 199);
    --bs-btn-hover-color: rgb(178, 91, 199);
    --bs-btn-hover-border-color: rgb(178, 91, 199);
    --bs-btn-active-bg: none;
    --bs-btn-active-color: rgb(178, 91, 199);
    --bs-btn-active-border-color: rgb(178, 91, 199);
}

.WLUSideButton{
    border: 2px solid rgb(178, 91, 199);
    --bs-btn-color: rgb(178, 91, 199);
    --bs-btn-hover-color: rgb(178, 91, 199);
    --bs-btn-hover-border-color: rgb(178, 91, 199);
    --bs-btn-active-bg: rgb(178, 91, 199);
    --bs-btn-active-color: none;
    --bs-btn-active-border-color: rgb(178, 91, 199);
}

.WLUButton::placeholder{
    font-size: 25px;
    color: white;
    font-family: 'Anderson Grotesk';
}


.NAFacButton{
    --bs-btn-hover-bg: white;
    --bs-btn-color: white;
    --bs-btn-active-bg: black;
    --bs-btn-active-color: white;
    --bs-btn-hover-color: black;
    --bs-btn-hover-border-color: white;
    --bs-btn-active-border-color: white;
    border: 2px solid white;
}

input.NAFacButton {
    border: 2px solid white;
    --bs-btn-color: white;
    --bs-btn-hover-color: white;
    --bs-btn-hover-border-color: white;
    --bs-btn-active-bg: rgba(0,0,0,0);
    --bs-btn-active-color: white;
    --bs-btn-active-border-color: white;
}

.NAFacSideButton{
    border: 2px solid white;
    --bs-btn-color: white;
    --bs-btn-hover-color: white;
    --bs-btn-hover-border-color: white;
    --bs-btn-active-bg: white;
    --bs-btn-active-color: none;
    --bs-btn-active-border-color: white;
}

.NAFacButton::placeholder{
    font-size: 25px;
    color: white;
    font-family: 'Anderson Grotesk';
}

.ARTCard{
    border: 2px solid rgb(251 175 0);
    box-shadow: 0px 0px 1px 1px rgb(231 129 0);
}

.ENGCard{
    border: 2px solid rgb(190 51 218);
    box-shadow: 0px 0px 1px 1px rgb(129 0 180);
}

.ENVCard{
    border: 2px solid rgb(190 213 0);
    box-shadow: 0px 0px 1px 1px rgb(180 190 0);
}

.HEACard{
    border: 2px solid rgb(0 190 208);
    box-shadow: 0px 0px 1px 1px rgb(0, 152, 165);
}

.MATCard{
    border: 2px solid rgb(255 99 170);
    box-shadow: 0px 0px 1px 1px rgb(198, 0, 120);
}

.RENCard{
    border: 2px solid rgb(60, 171, 75);
    box-shadow: 0px 0px 1px 1px rgb(19, 145, 36);
}

.SCICard{
    border: 2px solid rgb(99 160 255);
    box-shadow: 0px 0px 1px 1px rgb(0,115,206);
}

.VPACard{
    border: 2px solid rgb(77, 67, 215);
    box-shadow: 0px 0px 1px 1px rgb(9, 0, 131);
}

.WLUCard{
    border: 2px solid rgb(178, 91, 199);
    box-shadow: 0px 0px 1px 1px rgb(139, 28, 167);
}

.NAFacCard{
    box-shadow: 0px 0px 1px 1px rgb(0, 0, 0);
    border: 2px solid  rgb(107, 107, 107);
}

#ARTinfo{
    color:rgb(251 175 0);
    font-size: 15px; 
    margin-bottom:2px;
}

#ARTname{
    color:rgb(251 175 00);
    font-size: 18px;
    width: 25   0px;
    margin-bottom: 8px; 
    line-height: 1.4;
}

#ARTcode{
    color:rgb(251 175 0);
    font-size: 25px;
    width: 250px;
    padding-top: 10px;
    margin-bottom:-5px;
}

#ARTbox{
    background-color:rgb(14, 14, 37, 0.9);
    width: 270px;
    padding-left: 13px;
    border: 1.5px solid rgb(251 175 0);
    border-radius: 5px;
}

#ENGinfo{
    color:rgb(190 51 218);
    font-family: 'Anderson Grotesk';
    font-size: 15px; 
    margin-bottom:2px;
}

#ENGname{
    color:rgb(190 51 218);
    font-size: 18px;
    width: 250px;
    margin-bottom: 8px;    
}

#ENGcode{
    color:rgb(190 51 218);
    font-size: 25px;
    width: 250px;
    font-family: 'Anderson Grotesk';
    padding-top: 10px;
    margin-bottom:-5px;
}

#ENGbox{
    background-color:rgb(14, 14, 37, 0.9);
    width:270px;
    padding-left:13px;
    border: 2px solid rgb(190 51 218);
    border-radius:5px;
}

#ENVinfo{
    color:rgb(190 213 0);
    font-family: 'Anderson Grotesk';
    font-size: 15px; 
    margin-bottom:2px;
}

#ENVname{
    color:rgb(190 213 0);
    font-size: 18px;
    width: 250px;
    margin-bottom: 8px;    
}

#ENVcode{
    color:rgb(190 213 0);
    font-size: 25px;
    width: 250px;
    font-family: 'Anderson Grotesk';
    padding-top: 10px;
    margin-bottom:-5px;
}

#ENVbox{
    background-color:rgb(14, 14, 37, 0.9);
    width:270px;
    padding-left:13px;
    border: 2px solid rgb(190 213 0);
    border-radius:5px;
}

#HEAinfo{
    color:rgb(0 190 208);
    font-family: 'Anderson Grotesk';
    font-size: 15px; 
    margin-bottom:2px;
}

#HEAname{
    color:rgb(0 190 208);
    font-size: 18px;
    width: 250px;
    margin-bottom: 8px;    
}

#HEAcode{
    color:rgb(0 190 208);
    font-size: 25px;
    width: 250px;
    font-family: 'Anderson Grotesk';
    padding-top: 10px;
    margin-bottom:-5px;
}

#HEAbox{
    background-color:rgb(14, 14, 37, 0.9);
    width:270px;
    padding-left:13px;
    border: 2px solid rgb(0 190 208);
    border-radius:5px;
}

#MATinfo{
    color:rgb(255 99 170);
    font-family: 'Anderson Grotesk';
    font-size: 15px; 
    margin-bottom:2px;
}

#MATname{
    color:rgb(255 99 170);
    font-size: 18px;
    width: 250px;
    margin-bottom: 8px;    
}

#MATcode{
    color:rgb(255 99 170);
    font-size: 25px;
    width: 250px;
    font-family: 'Anderson Grotesk';
    padding-top: 10px;
    margin-bottom:-5px;
}

#MATbox{
    background-color:rgb(14, 14, 37, 0.9);
    width:270px;
    padding-left:13px;
    border: 2px solid rgb(255 99 170);
    border-radius:5px;
}

#RENinfo{
    color:rgb(60, 171, 75);
    font-family: 'Anderson Grotesk';
    font-size: 15px; 
    margin-bottom:2px;
}

#RENname{
    color:rgb(60, 171, 75);
    font-size: 18px;
    width: 250px;
    margin-bottom: 8px;    
}

#RENcode{
    color:rgb(60, 171, 75);
    font-size: 25px;
    width: 250px;
    font-family: 'Anderson Grotesk';
    padding-top: 10px;
    margin-bottom:-5px;
}

#RENbox{
    background-color:rgb(14, 14, 37, 0.9);
    width:270px;
    padding-left:13px;
    border: 2px solid rgb(60, 171, 75);
    border-radius:5px;
}

#SCIinfo{
    color:rgb(99 160 255);
    font-family: 'Anderson Grotesk';
    font-size: 15px; 
    margin-bottom:2px;
}

#SCIname{
    color:rgb(99 160 255);
    font-size: 18px;
    width: 250px;
    margin-bottom: 8px;    
}

#SCIcode{
    color:rgb(99 160 255);
    font-size: 25px;
    width: 250px;
    font-family: 'Anderson Grotesk';
    padding-top: 10px;
    margin-bottom:-5px;
}

#SCIbox{
    background-color:rgb(14, 14, 37, 0.9);
    width:270px;
    padding-left:13px;
    border: 2px solid rgb(99 160 255);
    border-radius:5px;
}

#VPAinfo{
    color:rgb(77, 67, 215);
    font-family: 'Anderson Grotesk';
    font-size: 15px; 
    margin-bottom:2px;
}

#VPAname{
    color:rgb(77, 67, 215);
    font-size: 18px;
    width: 250px;
    margin-bottom: 8px;    
}

#VPAcode{
    color:rgb(77, 67, 215);
    font-size: 25px;
    width: 250px;
    font-family: 'Anderson Grotesk';
    padding-top: 10px;
    margin-bottom:-5px;
}

#VPAbox{
    background-color:rgb(14, 14, 37, 0.9);
    width:270px;
    padding-left:13px;
    border: 2px solid rgb(77, 67, 215);
    border-radius:5px;
}

#WLUinfo{
    color:rgb(178, 91, 199);
    font-family: 'Anderson Grotesk';
    font-size: 15px; 
    margin-bottom:2px;
}

#WLUname{
    color:rgb(178, 91, 199);
    font-size: 18px;
    width: 250px;
    margin-bottom: 8px;    
}

#WLUcode{
    color:rgb(178, 91, 199);
    font-size: 25px;
    width: 250px;
    font-family: 'Anderson Grotesk';
    padding-top: 10px;
    margin-bottom:-5px;
}

#WLUbox{
    background-color:rgb(14, 14, 37, 0.9);
    width:270px;
    padding-left:13px;
    border: 2px solid rgb(178, 91, 199);
    border-radius:5px;
}

.ARTHover:Hover{
    color: rgb(255 213 165);
    cursor:pointer;
}

.ENGHover:Hover{
    color: rgb(208, 180, 239);
    cursor:pointer;
}

.ENVHover:Hover{
    color: rgb(208, 234, 120);
    cursor:pointer;
}

.HEAHover:Hover{
    color: rgb(151, 223, 239);
    cursor:pointer;
}

.MATHover:Hover{
    color: rgb(255, 190, 239);
    cursor:pointer;
}

.RENHover:Hover{
    color: rgb(169, 226, 176);
    cursor:pointer;
}

.SCIHover:Hover{
    color: rgb(180, 213, 255);
    cursor:pointer;
}

.VPAHover:Hover{
    color: rgb(139, 135, 204);
    cursor:pointer;
}

.WLUHover:Hover{
    color: rgb(201, 120, 221);
    cursor:pointer;
}

#switchButton.ARTCard:hover{
    border: 2px solid rgb(251 175 0);
    box-shadow: 0px 0px 1px 1px rgb(231 129 0);
    background-color: rgba(251, 175, 0, 0.1);
}

#switchButton.ENGCard:hover{
    border: 2px solid rgb(190 51 218);
    box-shadow: 0px 0px 1px 1px rgb(129 0 180);
    background-color: rgba(190, 51, 218, 0.1);
}

#switchButton.ENVCard:hover{
    border: 2px solid rgb(190 213 0);
    box-shadow: 0px 0px 1px 1px rgb(180 190 0);
    background-color: rgba(190, 213, 0, 0.1);
}

#switchButton.HEACard:hover{
    border: 2px solid rgb(0 190 208);
    box-shadow: 0px 0px 1px 1px rgb(0, 152, 165);
    background-color: rgba(0, 190, 208, 0.1);
}

#switchButton.MATCard:hover{
    border: 2px solid rgb(255 99 170);
    box-shadow: 0px 0px 1px 1px rgb(198, 0, 120);
    background-color: rgba(255, 99, 170, 0.1);
}

#switchButton.RENCard:hover{
    border: 2px solid rgb(60, 171, 75);
    box-shadow: 0px 0px 1px 1px rgb(19, 145, 36);
    background-color: rgba(60, 171, 75, 0.1);
}

#switchButton.SCICard:hover{
    border: 2px solid rgb(99 160 255);
    box-shadow: 0px 0px 1px 1px rgb(0,115,206);
    background-color: rgba(99, 160, 255, 0.1);
}

#switchButton.VPACard:hover{
    border: 2px solid rgb(77, 67, 215);
    box-shadow: 0px 0px 1px 1px rgb(9, 0, 131);
    background-color: rgba(77, 67, 215, 0.1);
}

#switchButton.WLUCard:hover{
    border: 2px solid rgb(178, 91, 199);
    box-shadow: 0px 0px 1px 1px rgb(139, 28, 167);
    background-color: rgba(178, 91, 199, 0.1);
}

#switchButton.NAFacCard:hover{
    box-shadow: 0px 0px 1px 1px rgb(0, 0, 0);
    border: 2px solid  rgb(107, 107, 107);
    background-color: rgba(255,255,255,0.1);
}

.normHover:hover{
    color: gray;
    cursor:pointer;
}

.ARTNavCircle{
    border: 1.5px solid rgb(251 175 0);
}

.ENGNavCircle{
    border: 1.5px solid rgb(190 51 218);
}

.ENVNavCircle{
    border: 1.5px solid rgb(190 213 0);
}

.HEANavCircle{
    border: 1.5px solid  rgb(0 190 208);
}

.MATNavCircle{
    border: 1.5px solid rgb(255 99 170);
}

.RENMavCircle{
    border: 1.5px solid  rgb(60, 171, 75);
}

.SCINavCircle{
    border: 1.5px solid rgb(99 160 255);
}

.VPAMavCircle{
    border: 1.5px solid  rgb(77, 67, 215);
}

.WLUNavCircle{
    border: 1.5px solid  rgb(178, 91, 199);
}

.NAFacNavCircle{
    border: 1.5px solid  white;
}

.ARTNavCircleFilled{
    background-color: rgb(251 175 0);
}

.ENGNavCircleFilled{
    background-color: rgb(190 51 218);
}

.ENVNavCircleFilled{
    background-color: rgb(190 213 0);
}

.HEANavCircleFilled{
    background-color: rgb(0 190 208);
}

.MATNavCircleFilled{
    background-color: rgb(255 99 170);
}

.RENMavCircleFilled{
    background-color: rgb(60, 171, 75);
}

.SCINavCircleFilled{
    background-color: rgb(99 160 255);
}

.VPAMavCircleFilled{
    background-color: rgb(77, 67, 215);
}

.WLUNavCircleFilled{
    background-color: rgb(178, 91, 199);
}

.NAFacNavCircleFilled{
    background-color: white;
}